/* font sizes */
body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    color: #000;
}

h1 {font-size: 20pt; margin-bottom: 0px}

h2 {font-size: 14pt; margin-top: 25px}

aside h2 {font-size: 18pt}

.first {
  page-break-before:always;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Some browsers like to show a border around images. Switch it off */
img {border: 0}

